# Ignorar dependencias
node_modules
/frontend/node_modules
/api/node_modules

# Ignorar archivos de entorno
.env
.env.*
.env.production
.env.production*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios de build
/frontend/dist

# Otros
.DS_Store